<h3>Espace démo !</h3>

<nav>
    <ul>
        <li><a routerLink="demo1"> Demo 1 - Bindings</a></li>
        <li><a routerLink="demo2"> Demo 2 - Bindings two-ways</a></li>
        <li><a routerLink="demo3"> Demo 3 - Pipes</a></li>
        <li><a routerLink="demo4"> Demo 4 - Les directives structurelles</a></li>
        <li><a routerLink="demo5"> Demo 5 - Les directives d'attribut custom</a></li>
        <li><a routerLink="demo6"> Demo 6 - DI - Les services</a></li>
        <li><a routerLink="topPlayers"> Demo 7 - Les Input Output</a></li>
        <li><a routerLink="demo8"> Demo 8 - Les formulaires</a></li>
        <li><a routerLink="demo9"> Demo 9 - Le rooting</a></li>
    </ul>
    <hr />
</nav>

<router-outlet></router-outlet>